.switch {
  $sizes: (
          small: (width: 32px, height: 16px, thumb: 12px),
          medium: (width: 44px, height: 24px, thumb: 20px),
          large: (width: 56px, height: 28px, thumb: 24px)
  );

  display: inline-block;
  position: relative;
  cursor: pointer;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__toggle {
    position: absolute;
    inset: 0;
    transition: 0.4s;
    border-radius: 34px;
    background-color: rgba(#000, 0.25);
  }

  &__thumb {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    transition: 0.4s;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  }

  &__input:checked + &__toggle {
    opacity: 1;
  }

  &__input:checked ~ &__thumb {
    transform: translateX(20px);
  }

  &__input:focus + &__toggle {
    box-shadow: 0 0 1px #2196F3;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @each $size, $values in $sizes {
    &--#{$size} {
      width: map-get($values, width);
      height: map-get($values, height);

      .switch__thumb {
        width: map-get($values, thumb);
        height: map-get($values, thumb);
      }

      .switch__input:checked ~ .switch__thumb {
        transform: translateX(#{map-get($values, width) - map-get($values, thumb) - 4px});
      }
    }
  }
}