.checkbox {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 3px;
  cursor: pointer;
}

.input {
  display: none;
}

.symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding: 0;
  transition:
    border 0.3s ease-out,
    background-color 0.3s ease-out;
  border: 1.5px solid get-color('line_solid_normal');
  border-radius: 4px;

  &.--checked {
    border: 1.5px solid get-color('primary_normal');
    background-color: get-color('primary_normal');
  }
}

.icon {
  margin-left: -5px;
  color: get-color('static_white');
}
