$primary-light: #CFEBFF;
$primary-normal: #69ACFF;
$primary-strong: #247BFF;
$primary-heavy: #1651BA;
$labels-normal: #171719;
$labels-strong: #000;
$labels-neutral: #2E2F33E0;
$labels-alternative: #37383C9C;
$labels-assistive: #37383C47;
$labels-disable: #37383C29;
$divider-normal: #CFEBFFB2;
$divider-strong: #CFEBFFE5;
$divider-neutral: #CFEBFF80;
$divider-alternative: #CFEBFF66;
$line-normal-normal: #70737C38;
$line-normal-neutral: #70737C29;
$line-normal-alternative: #70737C14;
$line-normal-strong: #70737C85;
$line-solid-normal: #E1E2E4;
$line-solid-neutral: #EAEBEC;
$line-solid-alternative: #F4F4F5;
$line-solid-strong: #AEB0B6;
$interaction-inactive: #989BA2;
$interaction-disable: #F4F4F5;
$background-normal: #FFF;
$background-alternative: #F7F7F8;
$background-dimber: #17171985;
$static-black: #000;
$static-white: #FFF;
$grays-gray-1: #8E8E93;
$grays-gray-2: #AEAEB2;
$grays-gray-3: #C7C7CC;
$grays-gray-4: #D1D1D6;
$grays-gray-5: #E5E5EA;
$grays-gray-6: #F2F2F7;
$colors-red: #FF3B30;
$colors-orange: #FF9500;
$colors-yellow: #FC0;
$colors-green: #34C759;
$colors-mint: #00C7BE;
$colors-teal: #30B0C7;
$colors-cyan: #32ADE6;
$colors-blue: #007AFF;
$colors-indigo: #5856D6;
$colors-purple: #AF52DE;
$colors-pink: #FF2D55;
$colors-brown: #A2845E;
$colors-violet: #6541F2;
