$font-display-1: 56px;
$font-display-2: 40px;
$font-title-1: 36px;
$font-title-2: 28px;
$font-title-3: 24px;
$font-heading-1: 22px;
$font-heading-2: 20px;
$font-headline-1: 18px;
$font-headline-2: 17px;
$font-body-1-normal: 16px;
$font-body-1-reading: 16px;
$font-body-2-normal: 15px;
$font-body-2-reading: 15px;
$font-label-1-normal: 14px;
$font-label-1-reading: 14px;
$font-label-2: 13px;
$font-caption-1: 12px;
$font-caption-2: 11px;