$line-display-1: 72px;
$line-display-2: 52px;
$line-title-1: 48px;
$line-title-2: 38px;
$line-title-3: 32px;
$line-heading-1: 30px;
$line-heading-2: 28px;
$line-headline-1: 26px;
$line-headline-2: 24px;
$line-body-1-normal: 24px;
$line-body-1-reading: 26px;
$line-body-2-normal: 22px;
$line-body-2-reading: 24px;
$line-label-1-normal: 20px;
$line-label-1-reading: 22px;
$line-label-2: 18px;
$line-caption-1: 16px;
$line-caption-2: 14px;