.inputContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 400px;
  @include mobile {
    width: auto;
  }

  height: 44px;
  padding: 10px 16px;
  border: 1px solid get-color('line_normal_normal');
  border-radius: get-radius('radius/4');
  cursor: text;

  &.focus {
    border: 1px solid get-color('primary_normal');
  }

  &.invalid {
    border: 1px solid get-color('colors_red');
  }

  &.disabled {
    background-color: get-color('interaction_disable');
  }
}

.icon {
  & > path {
    fill: get-color('labels_neutral')
  }
}

.input {
  flex-grow: 1;
  height: 42px;
  border: none;
  font-size: get-font-size('body-1-normal');
  caret-color: get-color('primary_normal');

  ::placeholder {
    color: #c7c7c8;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    background-color: get-color('interaction_disable');
  }
}
