.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  padding: get-spacing('spacing/12') 0;

  &__menu {
    display: flex;
    align-items: center;
    gap: 40px;

    &__list {
      display: flex;
      align-items: center;
      margin: auto;
      gap: get-spacing('spacing/4');
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: get-spacing('spacing/20');
  }
}
